*

!.gitignore
!algo.typ
!README.md
!typst.toml

!examples
!examples/examples.typ
!examples/examples.pdf
!examples/seperated
!examples/seperated/ex3.png

!test
!test/test.typ
!test/test.pdf
!test/assertions
!test/assertions/*.typ
